body {
  font-family: Arial, sans-serif;
}

.Weather {
  border: 2px solid#ffe0e0;
  border-radius: 10px;
  padding: 20px;
  margin: 30px auto;
  background-color: #fffafa;
  color: #ff60d7;
}

.Weather h1 {
  font-weight: bolder;
  display: block;
  font-size: 24px;
  margin: 20px 0px 0px 0px;
}

.Weather .form-control {
  background-color: #fffafa;
  border: 2px solid #ffe0e0;
}

#searchButton {
  margin-top: 10px;
  border: 2px solid #ffe0e0;
  color: #dd3e93;
  background: linear-gradient(
    180deg,
    rgb(255, 255, 255) 0%,
    rgb(250, 235, 252) 22%,
    rgb(236, 150, 224) 68%,
    rgb(234, 133, 214) 81%,
    rgb(234, 133, 214) 87%
  );
}
.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 16px;
  text-align: left;
  list-style: none;
}
.Weather canvas {
  margin: 10px 10px 0px 20px;
  display: inline-block;
}

.Weather .col-9 {
  padding: 10px;
}
.Weather .TempElement {
  display: inline-block;
}
.Weather .unit {
  font-size: 20px;
  float: right;
}
.Weather .temperature {
  font-size: 50px;
  line-height: 1;
  margin-left: 40px;
}

.Weather .description {
  text-transform: capitalize;
  opacity: 60%;
}
